
<div class="container-fluid">

  <div class="row">

    <div class="col-xs-2 col-xs-offset-1">

      <div class="purple-bar"><p>门诊分析</p></div>
      <ul class="nav nav-sidebar">
        <li ><a ui-sref=".ClinicDate" style="color:#666">按日期统计</a></li>
        <li><a href="#/analysis/ClinicDepartment" style="color:#666">按科室统计</a></li>
        <li><a href="#/analysis/ClinicNationality" style="color:#666">按国籍统计</a></li>
      </ul>

      <div class="purple-bar"><p>住院分析</p></div>
      <ul class="nav nav-sidebar">
        <li><a href="#/analysis/InpatientDate" style="color:#666">按日期统计</a></li>
        <li><a href="#/analysis/InpatientWard" style="color:#666">按病房统计</a></li>
        <li><a href="#/analysis/InpatientDoctor" style="color:#666">按医生统计</a></li>
        <li><a href="#/analysis/InpatientAverageDay" style="color:#666">平均住院日</a></li>
        <li><a href="#/analysis/OccupancyRate" style="color:#666">病床使用率</a></li>
      </ul>

      <div class="purple-bar"><p>手术分析</p></div>
      <ul class="nav nav-sidebar">
        <li><a href="#/analysis/OperationStatusGrade" style="color:#666">按手术状态和等级统计</a></li>
      </ul>

      <div class="purple-bar"><p>诊断分析</p></div>
        <ul class="nav nav-sidebar">
          <li><a href="#/analysis/DiagnosisScale" style="color:#666">诊断量</a></li>
        </ul>

    </div>

    <div class="col-xs-9">
    	<div ui-view></div>
    </div>

  </div>
  
</div>