<div class="row">
	<div id='chart1' ng-show="renderCharts[1]" style="height:420px" class="col-xs-12 col-md-5 col-md-offset-1"></div>
	<div id='chart2' ng-show="renderCharts[2]" style="height:420px" class="col-xs-12 col-md-5"></div>
</div>
<div class="row">
  <div id="leftMargin" style="height:430px;display:inline"></div>
	<div id='chart3' ng-show="renderCharts[3]" style="height:490px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart4' ng-show="renderCharts[4]" style="height:490px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths" ></div>
	<div id='chart5' ng-show="renderCharts[5]" style="height:490px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart6' ng-show="renderCharts[6]" style="height:490px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart7' ng-show="renderCharts[7]" style="height:490px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='table' ng-show="renderCharts[0]" class="col-xs-9" >
    <div style="background-color:#9999ff;font-size:22px;display:inline;padding:3px 8px 3px 8px;font-weight:bold;border-radius: 2px; box-shadow: 0 0 2px  #fff inset">{{selectedchart.name}}：{{selectedchart.item}}</div>
  	<div class="tableContainer-deliver">
	    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
	      <thead class="Patients_fixedHeader">
	        <tr>
	          <th></th>
	          <th>病人Id</th>
	          <th>姓名</th>
	          <th>年龄</th>
	          <th>负伤地点</th>
	          <th>战伤等级</th>
	          <th>战伤计分</th>
            <th>{{OutPatientRoomFlag?'':'床号'}}</th>
	          <th>{{OutPatientRoomFlag?'':'当前病情'}}</th>
	          <th>
            <!-- <input type="button" value="" style="float:right;margin-right:20px;margin-top:3px" class="btn btn-primary btn-sm btn-danger glyphicon glyphicon-remove" ng-click = "closeTable()"> -->
              <a href="" class="my-close-x" ng-click = "closeTable()"> <span class="glyphicon glyphicon-remove"></span> </a>
            </th>
	        </tr>
	      </thead>
	      <tbody class="Patients_scrollContent">
	        <tr ng-repeat="patient in patients | orderBy:'Loc'">
	          <td>
	            <a href="" ng-click="showLocation(patient)"><img src="image/loc.png"></a>
	          </td>
	          <td>{{patient.PId}}</td>
	          <td>{{patient.PatientName}}</td>
	          <td>{{patient.Age}}</td>
	          <td>{{patient.Location}}</td>
	          <td>{{patient.InjuryLevel}}</td>
	          <td>{{patient.InjuryScore}}</td>
            <td>{{OutPatientRoomFlag?'':patient.Loc}}</td>
	          <td>{{OutPatientRoomFlag?'':patient.Condition}}</td>
	          <td>
	            <input type="button"  data-toggle="modal" data-target="#ViewPatientDetails" value="生理" class="btn btn-primary" ng-click = "readPatientDetails(patient.PId)"/>
	            <input type="button" data-toggle="modal" data-target="#ViewPatientBios" value="生化" class="btn btn-primary" ng-click = "readPatientBios(patient.PId)"/>
              <input type="button" data-toggle="" data-target="" value="心电" class="btn" ng-class="patient.buttonColor" ng-click = "showHeartrate(patient.PId)"/>
	          </td>
	        </tr>
	      </tbody>
	    </table>
  	</div>
  <!-- 生理参数信息模态框（Modal） -->
  <div class="modal fade modal-large-font" id="ViewPatientDetails">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 生理参数信息
              </h4>
           </div>
           <div class="modal-body">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
                <tbody>
                  <tr> <td>血氧饱和度： {{PatientDetails.Oxygen}}</td> </tr>
                  <tr> <td>脉搏： {{PatientDetails.Pulse}}</td> </tr>
                  <tr> <td>心率： {{PatientDetails.HeartRate}}</td> </tr>
                  <tr> <td>呼吸： {{PatientDetails.Breath}}</td> </tr>
                  <tr> <td>神智： {{PatientDetails.Consciousness}}</td> </tr>
                  <tr> <td>血压： {{PatientDetails.DBP}}，{{PatientDetails.SBP}}</td> </tr>
                  <tr> <td>体温： {{PatientDetails.Temperature}}</td> </tr>
                </tbody>
              </table>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
           </div>
        </div>
     </div>
  </div>
  <!-- 生化参数信息模态框（Modal） -->
  <div class="modal fade modal-large-font" id="ViewPatientBios">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 生化参数信息
              </h4>
           </div>
           <div class="modal-body">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
                <tbody>
                  <tr ng-repeat="item in PatientBios">
                    <td>{{item.type}}： {{item.value}}</td>
                  </tr>
                </tbody>
              </table>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>