<div class="col-lg-8 col-lg-offset-2">
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    <img alt="300x200" src="{{p.imgUrl}}" />
	    <div class="caption">
	      <div class="row clearfix">
	        <div class="col-md-9 column">
	          <h4>
	            <b>
	              {{p.name}}
	            </b>
	            <font color="red" style="font-size:28px;padding-left:10px">{{p.Num}}</font> 人
	          </h4>
	        </div>
	        <div class="col-md-3 column" style="text-align: right">
	          <a type="button" class="btn btn-primary" href="#/deliver/RescueStaffDistribution">详细</a>
	        </div>
	      </div>
	    </div>
	  </div>
  </div>
  <div ng-repeat="place in places" class="col-xs-12 col-sm-6 col-md-4"> 
		<div class="thumbnail">
	    <img alt="300x200" ng-src="{{place.imgUrl}}" />
	    <div class="caption">
	      <div class="row clearfix">
	        <div class="col-md-9 column">
	          <h4>
	            <b>
	              {{place.name}} 
	            </b>
	            <font color="red" style="font-size:28px;padding-left:10px">{{place.Num|number}}</font> 人
	          </h4>
	        </div>
	        <div class="col-md-3 column" style="text-align: right">
	        	<a type="button" class="btn btn-primary" href="#/deliver/{{place.action}}">详细</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>
</div>