<div>病房：{{room}} <span ng-show="renderCharts[0]">----------------------params ：第{{table.index}}个图，所选项{{table.name}}，共计{{table.value}}人</span></div>
<div class="row">
	<div id='chart1' ng-show="renderCharts[1]" style="height:400px" class="col-xs-12 col-md-6"></div>
	<div id='chart2' ng-show="renderCharts[2]" style="height:400px" class="col-xs-12 col-md-6"></div>
	<div id='chart3' ng-show="renderCharts[3]" style="height:400px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart4' ng-show="renderCharts[4]" style="height:400px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths" ></div>
	<div id='chart5' ng-show="renderCharts[5]" style="height:400px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart6' ng-show="renderCharts[6]" style="height:400px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='chart7' ng-show="renderCharts[7]" style="height:400px" class="col-xs-12 col-sm-6 col-md-4 col-lg-5ths"></div>
	<div id='table' ng-show="renderCharts[0]" class="col-xs-12 pull-right" style="height:400px;background-color:#f9f9f9">
		table here <br/><br/><br/><br/>
		params ：第{{table.index}}个图，所选项{{table.name}}，共计{{table.value}}人
	</div>
</div>