<!-- <nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">急救全程监控可视化系统</a>
  <ul class="nav navbar-nav">
    <li class="active"><a ui-sref="home">首页</a></li>
    <li class="dropdown">
      <a href="#/deliver">分流信息 <span class="caret"></span></a>
      <ul class="dropdown-menu">
      	<li><a href="/Deliver/OperationRoom">手术室</a> </li>
        <li><a href="/Deliver/ICURoom">ICU</a> </li>
        <li><a href="/Deliver/CommonRoom">普通病房</a> </li>
        <li><a href="/Deliver/BurnRoom">烧伤病房</a> </li>
        <li><a href="/Deliver/SeriousInjuredRoom">重伤病房</a> </li>
        <li><a href="/Deliver/OutPatientRoom">门诊</a> </li>
        <li><a href="/Deliver/RescueStaffDistribution">救治人员分布</a> </li>
      </ul>
    </li>
    <li><a ui-sref="statistics">数据分析</a></li>
  </ul>
</nav>   -->
<p>home</p>