<div class="col-lg-8 col-lg-offset-2">
	<a class="thumbnail" style="margin-top:60px;margin-bottom:30px"> <img class="img-responsive" alt="Responsive image" class="thumbnail" src="image/866index.jpg"/> </a>
  
	<div class = "row">
	  <div class="col-xs-12 col-sm-4" > 
			<div class="thumbnail" >
		    <img  src="image/OR.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              分流信息
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href = "#/deliver">详细</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>	
	  <div class="col-xs-12 col-sm-4" > 
			<div class="thumbnail" >
		    <img  src="image/ICU.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              分析
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href = "#/analysis/ClinicDate">详细</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>		
	 <div class="col-xs-12 col-sm-4">
	 		<div class="thumbnail" >
		    <img  src="image/Inquery.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              信息查询
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href="#/Inquiry">详细</a>
		        </div>
		      </div>
		    </div>
		  </div>	
	 </div>
	</div>
</div>