<div class="row">
<a class="thumbnail">
 <img class="img-responsive" alt="Responsive image" class="thumbnail" ng-src="{{home.imgUrl1}}"/>
 </a>
</div>  


   
<div class = "row">
   
   <div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img ng-src="{{home.imgUrl2}}" alt = "Generic placeholder thumbnail"/>
      

       <div class="caption">
        
          <div class="col-md-4 column">
            <h4>
              <b>
                分流信息
              </b>
            </h4>
          </div>
          
          
          <div class="col-md-4 column" style="text-align: right">
            <a type="button" class="btn btn-primary"  href = "#/deliver" >详细</a> 
          </div>
        </div>
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img ng-src="{{home.imgUrl3}}" alt = "Generic placeholder thumbnail"/>
      
     
        <div class="caption">
          <div class="col-md-4 column">
            <h4>
              <b>
                分析
              </b>
            </h4>
          </div>
          
          <div class="col-md-4 column" style="text-align: right">
            <a type="button" class="btn btn-primary"  href = "#/analysis" >详细</a> 
          </div>
      </div>
      </div>
   </div>

   
</div>
