<div class="col-lg-8 col-lg-offset-2">
	<div class="row" style="margin-top:60px">
	  <div ng-repeat="Info in Info" class="col-sm-9 col-md-4" > 
			<div class="thumbnail" >
		    <img  ng-src="{{Info.imgUrl}}"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              {{Info.name}}
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href="#/Inquiry/{{Info.action}}">详细</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>	
	</div>
</div>