

    <!-- <iframe  ng-src="http://10.12.43.35:57772/csp/outp/_DeepSee.UserPortal.DashboardViewer.zen?NOTITLE=1&NOMODIFY=1&DASHBOARD=HZDashboards/ClinicInfo_Date.dashboard" height="600" frameborder="0" width="100%" id="mainFrame" name="mainFrame"></iframe> -->
    <div class="container iframe-container">
      <iframe id="iframe" ng-src="{{activeTemplate}}" sandbox="allow-same-origin allow-scripts" height="800" frameborder="0" width="90%" id="mainFrame" name="mainFrame"></iframe>
    </div>
   <!--  <script>
    $(function(){

var winH = $(window).height();

var bodyH = $(document).height();

if(bodyH > winH){

window.parent.document.getElementById("mainFrame").height=bodyH;

}else{

window.parent.document.getElementById("mainFrame").height=winH;

}

});
</script> -->
