

<label style="position:relative;left:950px">
  <div class="input-label">
    选择医嘱状态
  </div>
  <select ng-model="Status" ng-options="value for value in values" ng-change="changeStatus()" style="width:90px;height:25px">
  </select>

</label>
<div id="tableContainer" class="tableContainer">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
      <thead class="orderings_fixedHeader">
        <tr>
          <th></th>
          <th>患者ID</th>
          <th>姓名</th>
          <th>医嘱名称</th>
          <th>医嘱状态</th>
          <th>申请科室</th>
          <th>目标科室</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="orderings_scrollContent">
        <tr ng-repeat="ordering in orderings">
          <td>
            <a href=""><img src="image/loc.jpg"></a>
          </td>
          <td>{{ordering.PatientId}}</td>
          <td>{{ordering.PatientName}}</td>
          <td>{{ordering.OrderName}}</td>
          <td>{{ordering.Status}}</td>
          <td>{{ordering.ApplyDepartment}}</td>
          <td>{{ordering.TargetDepartment}}</td>
          <td>
            <input type="button"  data-toggle="modal" data-target="#ViewPatientDetails" value="查看生理信息" class="btn btn-primary editBtn" href="" ng-click = "readPatientDetails(ordering.PatientId)"/>
            <!-- 生理参数信息模态框（Modal） -->
            <div class="modal fade" id="ViewPatientDetails">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" 
                           aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                           生理参数信息
                        </h4>
                     </div>
                     <div class="modal-body">
                        <p>血氧饱和度：{{PatientDetails.Oxygen}}</p>
                        <p>脉搏：{{PatientDetails.Pulse}}</p>
                        <p>心率：{{PatientDetails.HeartRate}}</p>
                        <p>呼吸：{{PatientDetails.Breath}}</p>
                        <p>神智：{{PatientDetails.Consciousness}}</p>
                        <p>血压：{{PatientDetails.DBP}}，{{PatientDetails.SBP}}</p>
                        <p>体温：{{PatientDetails.Temperature}}</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <input type="button" data-toggle="modal" data-target="#ViewPatientBios" value="查看生化信息" class="btn btn-primary editBtn" href="" ng-click = "readPatientBios(ordering.PatientId)"/>
            <!-- 生化参数信息模态框（Modal） -->
            <div class="modal fade" id="ViewPatientBios">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" 
                           aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                           生化参数信息
                        </h4>
                     </div>
                     <div class="modal-body">
                        <p ng-repeat = "PatientBio in PatientBios">{{PatientBio.des}}：{{PatientBio.val}}</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                     </div>
                  </div>
               </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>