<div id="tableContainer" class="tableContainer">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
      <thead  class="DeckInfo_fixedHeader">
        <tr>
          <th></th>
          <th>ID</th>
          <th>甲板名称</th>
          <th>甲板分区列表</th>
          <th>病床总数</th>
          <th>可用病床</th>
          <th>手术室总数</th>
          <th>可用手术室</th>
          <th>值班室</th>
        </tr>
      </thead>
      <tbody class="DeckInfo_scrollContent">
        <tr ng-repeat="Deck in Decks">
          <td>
            <a href=""><img src="image/loc.jpg"></a>
          </td>
          <td>{{Deck.ID}}</td>
          <td>{{Deck.DeckName}}</td>
          <td>{{Deck.DeckSectionNames}}</td>
          <td>{{Deck.BedCount}}</td>
          <td>{{Deck.BedAvailCount}}</td>
          <td>{{Deck.SurgeryRoomCount}}</td>
          <td>{{Deck.SurgeryRoomAvailCount}}</td>
          <td>{{Deck.DutyRoomCount}}</td>
        </tr>
      </tbody>
    </table>
</div>
