<div class="col-lg-10 col-lg-offset-1">
  <div style="float:right;padding-bottom:5px"> <b>搜 索:</b> <input ng-model="query"/> </div>
  <div id="tableContainer" class="tableContainer">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
        <thead class="DoctorsInfo_fixedHeader">
          <tr>
            <th>医生ID</th>
            <th>姓名</th>
            <th>所属科室</th>
            <th>职务</th>
            <th>医生级别</th>
            <th>目前状态</th>
            <th>前出地区</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="DoctorsInfo_scrollContent">
          <tr ng-repeat="DoctorInfo in DoctorInfos|filter:query">
            <td>{{DoctorInfo.DoctorId}}</td>
            <td>{{DoctorInfo.DoctorName}}</td>
            <td>{{DoctorInfo.Affiliation}}</td>
            <td>{{DoctorInfo.Occupation}}</td>
            <td>{{DoctorInfo.Position}}</td>
            <td>{{DoctorInfo.Status}}</td>
            <td>{{DoctorInfo.DutyRoom}}</td>
            <td>
            <input type="button"  data-toggle="modal" data-target="#ViewDoctorInfoDetail" value="查看详细信息" class="btn btn-primary editBtn" style="height:40px" ng-click = "readDoctorInfoDetail(DoctorInfo.DoctorId)"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 医生信息详情模态框（Modal） -->
  <div class="modal fade modal-large-font" id="ViewDoctorInfoDetail">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 医生信息详情
              </h4>
           </div>
           <div class="modal-body">

              <p>医生Id：{{DoctorInfoDetail.DoctorId}}</p>
              <p>医生姓名：{{DoctorInfoDetail.DoctorName}}</p>
              <p>所属科室：{{DoctorInfoDetail.DeptName}}</p>
              <p>医生级别：{{DoctorInfoDetail.PositionName}}</p>
              <p>目前状态：{{DoctorInfoDetail.DutyStatus}}</p>
              <p>医生简介：{{DoctorInfoDetail.DoctorIntro}}</p>

           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
           </div>
        </div>
     </div>
  </div>
</div>