<!-- <div class="btn-group" role="group" style="position:relative;left:1400px">
  <button type="button" class="btn " style="width:80px;height:40px;background-color:#999999" ng-click="KeyPatientsfilter(1)" href="#/Inquiry/InjuriedPatient">历史信息</button>
  <button type="button" class="btn " style="width:80px;height:40px;background-color:#CCCCCC" ng-click="KeyPatientsfilter(0)" href="#/Inquiry/InjuriedPatient">当前信息</button>
  <button type="button" class="btn " style="width:80px;height:40px;background-color:#333333;color:#FFFFFF" ng-click="KeyPatientsfilter('')" href="#/Inquiry/InjuriedPatient">全部</button>
</div> -->
<div class="col-lg-10 col-lg-offset-1">
  <div class="btn-group" role="group" style="float:right;padding-bottom:5px">
    <button type="button" class="btn btn-default" style="width:80px;height:40px" ng-click="KeyPatientsfilter(1)" href="#/Inquiry/InjuriedPatient">历史信息</button>
    <button type="button" class="btn btn-default" style="width:80px;height:40px" ng-click="KeyPatientsfilter(0)" href="#/Inquiry/InjuriedPatient">当前信息</button>
    <button type="button" class="btn btn-default" style="width:80px;height:40px" ng-click="KeyPatientsfilter('')" href="#/Inquiry/InjuriedPatient">全部</button>
  </div>
  <div id="tableContainer" class="tableContainer">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
        <thead class="KeyPatientsInfo_fixedHeader">
          <tr>
            <th>患者编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>身份信息</th>
            <th>诊断</th>
            <th>伤情等级</th>
            <th>后送科室</th>
            <th>后送时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="KeyPatientsInfo_scrollContent">
          <tr ng-repeat="KeyPatientInfo in KeyPatientInfos">
            <td>{{KeyPatientInfo.PatientId}}</td>
            <td>{{KeyPatientInfo.PatientName}}</td>
            <td>{{KeyPatientInfo.Sex}}</td>
            <td>{{KeyPatientInfo.Age}}</td>
            <td>{{KeyPatientInfo.Job}}</td>
            <td>{{KeyPatientInfo.Diagnosis}}</td>
            <td>{{KeyPatientInfo.InjuryLevel}}</td>
            <td>{{KeyPatientInfo.TargetDepartment}}</td>
            <td>{{KeyPatientInfo.DeliverTime}}</td>
            <td>
              <input type="button"  data-toggle="modal" data-target="#ViewPatientDetails" value="生理信息" class="btn btn-primary editBtn" style="margin-right:10px;height:40px" ng-click = "readPatientDetails(KeyPatientInfo.PatientId)"/>
              <input type="button" data-toggle="modal" data-target="#ViewPatientBios" value="生化信息" class="btn btn-primary editBtn" style="height:40px" ng-click = "readPatientBios(KeyPatientInfo.PatientId)"/>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- 生理参数信息模态框（Modal） -->
  <div class="modal fade modal-large-font" id="ViewPatientDetails">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 生理参数信息
              </h4>
           </div>
           <div class="modal-body">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
                <tbody>
                  <tr> <td>血氧饱和度： {{PatientDetails.Oxygen}}</td> </tr>
                  <tr> <td>脉搏： {{PatientDetails.Pulse}}</td> </tr>
                  <tr> <td>心率： {{PatientDetails.HeartRate}}</td> </tr>
                  <tr> <td>呼吸： {{PatientDetails.Breath}}</td> </tr>
                  <tr> <td>神智： {{PatientDetails.Consciousness}}</td> </tr>
                  <tr> <td>血压： {{PatientDetails.DBP}}，{{PatientDetails.SBP}}</td> </tr>
                  <tr> <td>体温： {{PatientDetails.Temperature}}</td> </tr>
                </tbody>
              </table>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
           </div>
        </div>
     </div>
  </div>
  <!-- 生化参数信息模态框（Modal） -->
  <div class="modal fade modal-large-font" id="ViewPatientBios">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 生化参数信息
              </h4>
           </div>
           <div class="modal-body">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
                <tbody>
                  <tr ng-repeat="item in PatientBios">
                    <td>{{item.type}}： {{item.value}}</td>
                  </tr>
                </tbody>
              </table>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
           </div>
        </div>
     </div>
  </div>
</div>