
<div class="col-lg-10 col-lg-offset-1">
  <div style="float:right;padding-bottom:5px"> <b>搜 索:</b> <input ng-model="query"/> </div>
  <div id="tableContainer" class="tableContainer">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
        <thead class="SurgeriesInfo_fixedHeader">
          <tr>
            <th>手术编号</th>
            <th>手术室</th>
            <th>手术间</th>
            <th>台次</th>
            <th>手术时间</th>
            <th>手术科室</th>
            <th>患者编号</th>
            <th>患者姓名</th>
            <th>术前诊断</th>
            <th>手术名称</th>
            <th>手术医师</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="SurgeriesInfo_scrollContent">
          <tr ng-repeat="SurgeryInfo in SurgeryInfos|filter:query">
            <td>{{SurgeryInfo.SurgeryRoomId}}</td>
            <td>{{SurgeryInfo.SurgeryRoom1}}</td>
            <td>{{SurgeryInfo.SurgeryRoom2}}</td>
            <td>{{SurgeryInfo.SurgeryTable}}</td>
            <td>{{SurgeryInfo.SurgeryDate}}</td>
            <td>{{SurgeryInfo.SurgeryDeptCode}}</td>
            <td>{{SurgeryInfo.PatientId}}</td>
            <td>{{SurgeryInfo.PatientName}}</td>
            <td>{{SurgeryInfo.Diagnosis}}</td>
            <td>{{SurgeryInfo.SurgeryName}}</td>
            <td>{{SurgeryInfo.SurgeryDoctor}}</td>
            <td>
              <input type="button"  data-toggle="modal" data-target="#ViewSurgeriesInfoDetail" value="详细" class="btn btn-primary editBtn" style="height:40px" ng-click = "readSurgeriesInfoDetail(SurgeryInfo)"/>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- 手术室信息详情模态框（Modal） -->
<div class="modal fade" id="ViewSurgeriesInfoDetail">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
               手术室信息详情
            </h4>
         </div>
         <div class="modal-body">
            <table class="table table-bordered">
             <thead>
                <tr>
                   <th>患者编号</th>
                   <th>患者姓名</th>
                   <th>手术名称</th>
                   <th>术前诊断</th>
                   <th>病情</th>
                   <th>手术时间</th>
                   <th>手术室</th>
                   <th>手术间</th>
                   <th>台次</th>
                   <th>隔离标志</th>
                   <th>手术等级</th>
                   <th>手术科室</th>
                   <th>手术医师</th>
                   <th>助手</th>
                   <th>输血医师</th>
                   <th>麻醉方法</th>
                   <th>麻醉医师</th>
                   <th>台上护士</th>
                   <th>供应护士</th>
                </tr>
             </thead>
             <tbody>
                <tr ng-repeat = "SurgeriesInfo in SurgeriesInfoDetail">
                   <td>{{SurgeriesInfo.PatientId}}</td>
                   <td>{{SurgeriesInfo.PatientName}}</td>
                   <td>{{SurgeriesInfo.SurgeryName}}</td>
                   <td>{{SurgeriesInfo.Diagnosis}}</td>
                   <td>{{SurgeriesInfo.DiseaseCondition}}</td>
                   <td>{{SurgeriesInfo.SurgeryDate}}</td>
                   <td>{{SurgeriesInfo.SurgeryRoom1}}</td>
                   <td>{{SurgeriesInfo.SurgeryRoom2}}</td>
                   <td>{{SurgeriesInfo.SurgeryTable}}</td>
                   <td>{{SurgeriesInfo.IsolationFlag}}</td>
                   <td>{{SurgeriesInfo.SurgeryLevel}}</td>
                   <td>{{SurgeriesInfo.SurgeryDept}}</td>
                   <td>{{SurgeriesInfo.SurgeryDoctor}}</td>
                   <td>{{SurgeriesInfo.Assistant1}}&nbsp;&nbsp;{{SurgeriesInfo.Assistant2}}&nbsp;&nbsp;{{SurgeriesInfo.Assistant3}}&nbsp;&nbsp;{{SurgeriesInfo.Assistant4}}</td>
                   <td>{{SurgeriesInfo.TransfusionDoctor}}</td>
                   <td>{{SurgeriesInfo.AnesthesiaMethod}}</td>
                   <td>{{SurgeriesInfo.AnesthesiaDoctor1}}&nbsp;&nbsp;{{SurgeriesInfo.AnesthesiaDoctor2}}</td>
                   <td>{{SurgeriesInfo.TableNurse1}}&nbsp;&nbsp;{{SurgeriesInfo.TableNurse2}}</td>
                   <td>{{SurgeriesInfo.SupplyNurse1}}&nbsp;&nbsp;{{SurgeriesInfo.SupplyNurse2}}</td>                
                </tr>
             </tbody>
          </table>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
         </div>
      </div>
   </div>
</div>

<style type="text/css">

  #ViewSurgeriesInfoDetail .modal-dialog{
    width: 80%;
  }
  #ViewSurgeriesInfoDetail .modal-body{
    overflow: auto;
  }

</style>