<div id="tableContainer" class="tableContainer">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
      <thead class="SurgeriesInfo_fixedHeader">
        <tr>
          <th></th>
          <th>手术室Id</th>
          <th>手术室</th>
          <th>手术间</th>
          <th>台次</th>
          <th>手术时间</th>
          <th>手术科室</th>
          <th>患者Id</th>
          <th>患者姓名</th>
          <th>术前诊断</th>
          <th>手术名称</th>
          <th>手术医师</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="SurgeriesInfo_scrollContent">
        <tr ng-repeat="SurgeryInfo in SurgeryInfos">
          <td>
            <a href=""><img src="image/loc.jpg"></a>
          </td>
          <td>{{SurgeryInfo.SurgeryRoomId}}</td>
          <td>{{SurgeryInfo.SurgeryRoom1}}</td>
          <td>{{SurgeryInfo.SurgeryRoom2}}</td>
          <td>{{SurgeryInfo.SurgeryTable}}</td>
          <td>{{SurgeryInfo.SurgeryDate}}</td>
          <td>{{SurgeryInfo.SurgeryDeptCode}}</td>
          <td>{{SurgeryInfo.PatientId}}</td>
          <td>{{SurgeryInfo.PatientName}}</td>
          <td>{{SurgeryInfo.Diagnosis}}</td>
          <td>{{SurgeryInfo.SurgeryName}}</td>
          <td>{{SurgeryInfo.SurgeryDoctor}}</td>
          <td>
            <input type="button"  data-toggle="modal" data-target="#mymodal1" value="查看生理信息" class="btn btn-primary editBtn" href=""/>
            <div class="modal" id="mymodal1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">标题</h4>
                  </div>
                  <div class="modal-body">
                    <p>生理信息</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </div>
            </div>
            <input type="button" data-toggle="modal" data-target="#mymodal2" value="查看生化信息" class="btn btn-primary editBtn" href=""/>
            <div class="modal" id="mymodal2">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">标题</h4>
                  </div>
                  <div class="modal-body">
                    <p>生化信息</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
