<div class="dropdown" style="position:relative;left:950px">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    选择医嘱状态
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-click="orderingsfilter('')"><a href="#/orderings">all</a></li>
    <li ng-click="orderingsfilter(1)"><a href="#/orderings">1</a></li>
    <li ng-click="orderingsfilter(2)"><a href="#/orderings">2</a></li>
    <li ng-click="orderingsfilter(3)"><a href="#/orderings">3</a></li>
    <li ng-click="orderingsfilter(4)"><a href="#/orderings">4</a></li>
  </ul>
</div>
<div id="tableContainer" class="tableContainer">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="scrollTable table-striped">
      <thead class="orderings_fixedHeader">
        <tr>
          <th>患者ID</th>
          <th>姓名</th>
          <th>医嘱名称</th>
          <th>医嘱状态</th>
          <th>申请科室</th>
          <th>目标科室</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="orderings_scrollContent">
        <tr ng-repeat="ordering in orderings">
          <td>{{ordering.PatientId}}</td>
          <td>{{ordering.PatientName}}</td>
          <td>{{ordering.OrderName}}</td>
          <td>{{ordering.Status}}</td>
          <td>{{ordering.ApplyDepartment}}</td>
          <td>{{ordering.TargetDepartment}}</td>
          <td>
            <input type="button"  data-toggle="modal" data-target="#mymodal1" value="查看生理信息" class="btn btn-primary editBtn" href=""/>
            <div class="modal" id="mymodal1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">标题</h4>
                  </div>
                  <div class="modal-body">
                    <p>生理信息</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </div>
            </div>
            <input type="button" data-toggle="modal" data-target="#mymodal2" value="查看生化信息" class="btn btn-primary editBtn" href=""/>
            <div class="modal" id="mymodal2">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">标题</h4>
                  </div>
                  <div class="modal-body">
                    <p>生化信息</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>